<!Doctype html>
<html lang="en">
    <head>
        <title>Style</title>
        <link rel="stylesheet"  href="style.css">
    </head>
    <body>
        <div class="grid-container">        
            <header class="header">..Header</header>
            <aside class="aside">...Aside </aside>
            <main class="main">
                <div class="overview-content">
                    <div class="overview-card">overview 1 </div>
                    <div class="overview-card">overview 2</div>
                    <div class="overview-card">overview 3</div>
                </div>
                    
                <div class="chart-content">
                    <div class="chart">...chart </div>
                    <div class="chart-overview">chart overview</div>
                </div>
            
            </main>
            <footer class="footer"> ...footer </footer>
            
        </div>
    </body>
</html>