<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}Home{% endblock %}</title>
	<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<style>
		#form,
		#form2,
		#form3 {
			display: none;
		}

		.no-line-break {
			white-space: nowrap;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbar">
		  <div class="navbar-nav">
			<a class="text-white" id="home" href="/">Home</a>
			<a class="text-white" id="logout" href="/logout">Logout</a>
		  </div>
		</div>
	  </nav>

	<div class="container mx-auto my-8">
		{% block content %}{% endblock %}
	</div>

	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<div class="fixed top-0 inset-x-0 py-2 px-4 sm:px-6 z-50">
				{% for category, message in messages %}
				<div class="bg-{{ 'red' if category == 'error' else 'green' }}-500 text-white rounded-md shadow-md py-2 px-4 mb-4">
					{{ message }}
					<button type="button" class="ml-4 rounded-md p-2" data-dismiss="alert">
						<span class="fa fa-times"></span>
					</button>
				</div>
				{% endfor %}
			</div>
		{% endif %}
	{% endwith %}
</body>
</html>
