{% extends "base.html" %}

{% block content %}
<div class="container mx-auto my-4">
  <div class="my-6">
    <section class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <h3 class="text-3xl text-center font-bold text-primary-700 mb-4">Main Portfolio</h3>
      <p class="text-2xl text-primary-700 font-medium">Name: {{ username }}</p>
      <p class="text-2xl text-primary-700 font-medium">Portfolio Worth: ${{ "{:,.2f}".format(portfolio_worth) }}</p>
      <p class="text-2xl text-primary-700 font-medium">Total Equity:
        <span {% if portfolio_equity >= 0 %}class="text-green-500"{% else %}class="text-red-500"{% endif %}>
          {{ "{:,.2f}".format(portfolio_equity) }}%
        </span>
      </p>
    </section>
  </div>
  <div>
    <a href="/{{user_id}}/transactions">
      <button
        type="button"
        class="mb-2 block w-full rounded border-2 border-primary px-6 pb-[6px] pt-2 text-xl font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:border-primary-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-primary-600 focus:border-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:border-primary-700 active:text-primary-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
        data-te-ripple-init>
        Go to transactions
      </button>
    </a>
  </div>
</div>


  <br/>
  <br/>
  <br/>
  <br/>
  <h1 class="text-3xl bg-white text-primary-600 font-bold mb-2 text-center">Top 10 Cryptocurrencies</h1>
  <h3 class="text-lg bg-white text-primary-600 text-center">Displaying the latest Crypto prices from CoinmarketCap API</h3>

  <table class="min-w-full bg-white border border-gray-300 text-center">
    <thead>
      <tr>
        <th scope="col">Rankings</th>
        <th class="py-2 px-4 border-b">Name</th>
        <th class="py-2 px-4 border-b">Symbol</th>
        <!-- <th class="py-2 px-4 border-b">Slug</th> -->
        <th class="py-2 px-4 border-b">Price</th>
        <th class="py-2 px-4 border-b">Volume</th>
        <th class="py-2 px-4 border-b">24hr</th>
      </tr>
    </thead>
  
    <tbody>
      {% for obj in results %}
      <tr class="trans_table">
        <td class="py-2 px-4 border-b text-center">{{ loop.index }}</td>
        <td class="py-2 px-4 border-b text-center" style="text-transform: uppercase;">{{ obj['name'] }}</td>
        <td class="py-2 px-4 border-b text-center" style="text-transform: uppercase;">{{ obj['symbol'] }}</td>
        <!-- <td class="py-2 px-4 border-b text-center">{{ obj['slug'] }}</td> -->
        <td class="current_price py-2 px-4 border-b text-center">{{ obj['current_price'] }}</td>
        <td class="total_volume py-2 px-4 border-b text-center">{{ obj['total_volume'] }}</td>
        <td class="price_change_percentage py-2 px-4 border-b text-center">
          <span {% if obj['price_change_percentage_24h']|float > 0 %}class="text-green-500"{% elif obj['price_change_percentage_24h']|float < 0 %}class="text-red-500"{% endif %}>
            {{ obj['price_change_percentage_24h'] }}
          </span>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <br/>
  <br/>
  <a href="{{ url_for('views.news', user_id=user_id) }}"><button
    type="button"
    class="mb-2 block w-full rounded border-2 border-primary px-6 pb-[6px] pt-2 text-xs font-medium uppercase leading-normal text-primary transition duration-150 ease-in-out hover:border-primary-600 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-primary-600 focus:border-primary-600 focus:text-primary-600 focus:outline-none focus:ring-0 active:border-primary-700 active:text-primary-700 dark:hover:bg-neutral-100 dark:hover:bg-opacity-10"
    data-te-ripple-init>
    Check out the latest articles
  </button>
</div>
<script>
  async function fetchCryptoPrices() {
    $(document).ready(function() {
      // Loop through each '.trans_table' row
      console.log("SUP?")
      $('.trans_table').each(function() {
        var row = $(this);
        var coinName = row.find('td:eq(1)').text().toLowerCase();
        //var numberOfCoins = row.data('coins');
        //numberOfCoins = parseFloat(numberOfCoins);
        //var price_purchased_at = row.data('price_purchased_at')

        $.ajax({
          url: 'https://api.coingecko.com/api/v3/coins/markets',
          method: 'GET',
          cache: false,
          headers: {
            'Content-Type': 'application/json'
          },
          data: {
            'ids': coinName,
            'vs_currency': 'usd',
          },
          success: function(response) {
            console.log("DONE")
            var current_price = response[0]['current_price'];
            var total_volume = response[0]['total_volume'];
            var price_change_percentage = response[0]['price_change_percentage_24h'];
            row.find('.current_price').text(parseInt(current_price)); // Update the current value within the row
            row.find('.total_volume').text(total_volume);
            row.find('.price_change_percentage').text(price_change_percentage);
            // var equity = ((data - price_purchased_at) / price_purchased_at) * 100;
            // //row.find('#equity').text(equity);
            // if (equity >= 0 ) {
            //   row.find('#equity').html(`<td class="text-green-500"> + ${Math.abs(equity).toFixed(4)}% </td>`)
            // } else {
            //   row.find('#equity').html(`<td class="text-red-500"> - ${Math.abs(equity).toFixed(4)}% </td>`)
            // }
          },
          error: function(xhr, status, error) {
            // Handle errors
            console.log("ERROR")
          }
        });
      });
    });
    }
    setInterval(fetchCryptoPrices, 20000);
</script>
<br/>
<br/>
</a>
{% endblock %}