{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<a href="/{{user_id}}/transactions">Transactions</a>
<div class="container">
  <br>
  <br>
  <br>
  <br>
  <h1>Top 10 Cryptocurrencies</h1>
  <h3>Displaying the latest Crypto prices from CoinmarketCap API</h3>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Crypto Name</th>
        <th scope="col">Symbol</th>
        <th scope="col">Slug</th>
        <th scope="col">Price</th>
        <th scope="col">Volume</th>
        <th scope="col">24hr</th>
        
      </tr>
    </thead>
  
    <tbody>
      {% for obj in results %}
      <tr>
          <td>{{ obj['name'] }}</td>
          <td>{{ obj['symbol'] }}</td>
          <td>{{ obj['slug'] }}</td>
          <td>{{ obj['quote']['USD']['price'] }}</td>
          <td>{{ obj['quote']['USD']['volume_24h'] }}</td>
          <td>{{ obj['quote']['USD']['percent_change_24h'] }}</td>
      </tr>
      {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}