<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../static/css/dist/output.css">
	<link rel="stylesheet" href="{{ url_for('static', filename='mdb5-free-standard/css/mdb.min.css' )}}">
	<title>Flask Tailwind css</title>
</head>
<body>
	<h1 class="text-center bg-red-600 text-green-800"> Hello World from Tailwind</h1>
	<script type="text/javascript" src="{{ url_for('static', filename='mdb5-free-standard/js/mdb.min.js' )}}"></script>
</body>
</html>