{% extends "base.html" %}
 {% block title %}Welcome{% endblock %} 
 {% block content %} 
    <div class="container">
        <div class="left">
            <h1>Track all your <br>
                Cryptocurrency <br>
                in one place
            </h1>
            <text>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet ab ullam illo beatae, tempora modi totam voluptas illum dicta assumenda reiciendis? At saepe harum alias hic ipsum nam aperiam enim!
            </text>
            <br>
            <a class="nav-item nav-link" id="signUp" href="/sign-up">
                <button class="text-dir">Get Started With TrackC &rarr; </button>
                </a>
        </div>
        <div class="right">
            <div class="col-md-4">
                <div class="content-section">
                  <h3>image from figma design here</h3>
                  <p class='text-muted'>Cryptocurrency img here
                   </p>
                </div>
            </div>
        </div>
    </div>

 {% endblock %}
