{% extends "base.html" %}

{% block title %}News{% endblock %}

{% block content %}

<!-- Container for the news articles -->
<div class="container my-24 mx-auto md:px-6">
  <section class="mb-32 text-center md:text-left">
    <!-- Section heading -->
    <h2 class="mb-12 text-center text-primary-500 text-3xl font-bold">Latest articles</h2>

    <!-- Iterate over the news items -->
    {% for item in news %}
    <div class="mb-6 flex flex-wrap">
      <!-- Thumbnail section -->
      <div class="mb-6 ml-auto w-full shrink-0 grow-0 basis-auto px-3 md:mb-0 md:w-3/12">
        <div class="relative mb-6 overflow-hidden rounded-lg bg-cover bg-no-repeat shadow-lg dark:shadow-black/20" data-te-ripple-init data-te-ripple-color="light">
          <a href="{{ item['URL'] }}" target="_blank">
            <img src="{{ item['Thumbnail'] }}" class="w-full" alt="Thumbnail" />
          </a>
          <a href="{{ item['URL'] }}">
            <!-- Overlay on hover -->
            <div class="absolute top-0 right-0 bottom-0 left-0 h-full w-full overflow-hidden bg-fixed opacity-0 transition duration-300 ease-in-out hover:opacity-100 bg-[hsla(0,0%,98.4%,.15)]"></div>
          </a>
        </div>
      </div>

      <!-- News content section -->
      <div class="mb-6 mr-auto w-full shrink-0 grow-0 basis-auto px-3 md:mb-0 md:w-9/12 xl:w-7/12">
        <!-- News title -->
        <h5 class="mb-3 text-lg font-bold">{{ item['Title'] }}</h5>
        <!-- Published date and author -->
        <p class="mb-6 text-neutral-500 dark:text-neutral-300">
          <small>Published <u>{{ item['Published Date'] }}</u> by <a href="#!">{{ item['Author'] }}</a></small>
        </p>
        <!-- News site information -->
        <div class="mb-3 flex items-center justify-center text-sm font-medium text-danger dark:text-danger-500 md:justify-start">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="mr-2 h-5 w-5">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 01-1.161.886l-.143.048a1.107 1.107 0 00-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 01-1.652.928l-.679-.906a1.125 1.125 0 00-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 00-8.862 12.872M12.75 3.031a9 9 0 016.69 14.036m0 0l-.177-.529A2.25 2.25 0 0017.128 15H16.5l-.324-.324a1.453 1.453 0 00-2.328.377l-.036.073a1.586 1.586 0 01-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.473.854.954.927l.428.072a9 9 0 01-3.212 1.222 9 9 0 000-18z" />
          </svg>
          {{ item['News Site'] }}
        </div>

        <!-- News description -->
        <p class="text-neutral-500 dark:text-neutral-300">
          {{ item['Description'] }}
        </p>
      </div>
    </div>
    {% endfor %}

  </section>
</div>

{% endblock %}
