{% extends "base.html" %}

{% block title %}Transactions{% endblock %}

{% block content %}      
<div class="container mx-auto">
  <div class="flex justify-between">
    <form id="form" action="/{{ user_id }}/transactions/add_transaction" method="POST"
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full md:w-1/2">
      <h3 class="text-2xl text-primary-700 font-bold text-center mb-6">Add Transaction</h3>
      <div class="mb-4">
        <label for="coin_name" class="block text-primary-700 text-sm font-bold mb-2">Name of Coin</label>
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-primary-700 leading-tight focus:outline-none focus:shadow-outline"
          id="coin_bought" name="coin_name" placeholder="Enter name of coin">
      </div>
      <div class="mb-6">
        <label for="no_of_coins" class="block text-primary-700 text-sm font-bold mb-2">Number of coins bought</label>
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-primary-700 leading-tight focus:outline-none focus:shadow-outline"
          id="no_of_coins_bought" name="no_of_coins" placeholder="Enter number of coins bought">
      </div>
      <div class="mb-6">
        <label for="price_purchased_at" class="block text-primary-700 text-sm font-bold mb-2">Price Bought</label>
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-primary-700 leading-tight focus:outline-none focus:shadow-outline"
          id="price_purchased_at" name="price_purchased_at" placeholder="Enter the unit price (in USD)">
      </div>
      <div class="flex items-center justify-between">
        <button id="sub" type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Add
        </button>
      </div>
    </form>

    <form id="form2" action="/{{ user_id }}/transactions/remove_transaction" method="POST"
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full md:w-1/2">
      <h3 class="text-2xl text-primary-700 font-bold text-center mb-6">Remove Transaction</h3>
      <div class="mb-4">
        <label for="coin_name" class="block text-primary-700 text-sm font-bold mb-2">Name of Coin</label>
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-primary-700 leading-tight focus:outline-none focus:shadow-outline"
          id="coin_name_sold" name="coin_name" placeholder="Enter name of coin">
      </div>
      <div class="mb-6">
        <label for="no_of_coins" class="block text-primary-700 text-sm font-bold mb-2">Number of coins sold</label>
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-primary-700 leading-tight focus:outline-none focus:shadow-outline"
          id="no_of_coins_sold" name="no_of_coins" placeholder="Enter the number of coins sold">
      </div>
      <div class="mb-6">
        <label for="price_sold" class="block text-primary-700 text-sm font-bold mb-2">Price sold</label>
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-primary-700 leading-tight focus:outline-none focus:shadow-outline"
          id="price_sold" name="price_sold" placeholder="Enter the price you sold each unit">
      </div>
      <div class="flex items-center justify-between">
        <button id="sub2" type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Remove
        </button>
      </div>
    </form>
  </div>
</div>
<br/>
<br/>
<h1 class="text-2xl font-bold text-center text-blue-900 mb-4">HOLDINGS</h1>
<table class="table-auto w-full bg-white">
  <thead>
    <tr class="bg-primary-800 font-medium text-white">
      <th class="py-2 px-4">Name</th>
      <th class="py-2 px-4">Symbol</th>
      <th class="py-2 px-4">Price Purchased at</th>
      <th class="py-2 px-4">Cost Basis</th>
      <th class="py-2 px-4">Number of Coins</th>
      <th class="py-2 px-4">Time Transacted</th>
      <th class="py-2 px-4">Time Updated</th>
      <th class="py-2 px-4">Current value</th>
      <th class="py-2 px-4">Equity</th>
    </tr>
  </thead>
  <tbody>
  {% for trans in trans_list %}
    <tr class="trans_table" data-coins="{{ trans.no_of_coins }}" data-price_purchased_at="{{ trans.price_purchased_at }}">
      <td class = "py-2 px-4 border-b text-center" style="display: flex; align-items: center;"><img src="{{trans.image_link}}" alt="" style="width: 25px; height: 25px; object-fit: cover; margin-right: 10px;"><span>{{ trans.coin_name }}</span></td>
      <td class = "py-2 px-4 border-b text-center">{{ trans.symbol }}</td>
      <td class = "py-2 px-4 border-b text-center">${{ trans.price_purchased_at }}</td>
      <td {% if trans.amount_spent >= 0 %}class="text-green-500 py-2 px-4 border-b text-center"{% else %}class="text-red-500 py-2 px-4 border-b text-center"{% endif %}> ${{ "{:,.2f}".format(trans.amount_spent|abs) }}</td>
      <td class = "py-2 px-4 border-b text-center">{{ trans.no_of_coins }}</td>
      <td class = "py-2 px-4 border-b text-center">{{ trans.time_transacted.strftime("%Y-%m-%d %H:%M:%S") }}</td>
      <td class = "py-2 px-4 border-b text-center">{{ trans.time_updated.strftime("%Y-%m-%d %H:%M:%S") }}</td>
      <td class="current_value py-2 px-4 border-b text-center">${{ "{:,.2f}".format(trans.current_value) }}</td>
      <td id="equity" {% if trans.equity >= 0 %}class="text-green-500 py-2 px-4 border-b text-center"{% else %}class="text-red-500 py-2 px-4 border-b text-center"{% endif %}>
      {% if trans.equity >= 0 %}+{% else %}-{% endif %}
      {{ "{:,.2f}".format(trans.equity|abs) }}%
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>    
</div>
<br/>
<br/>
<div id="portfolio_worth"></div>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>

<script>
  var myList = [];
  var portfolio_worth = {{portfolio_worth}};
  var total_amount_spent = {{total_amount_spent}};
  if (portfolio_worth >= total_amount_spent ) {
    $('#portfolio_worth').html(`<h1 class="text-green-500 text-2xl font-medium">  Portfolio Worth: $${Math.abs(portfolio_worth).toFixed(4)} </h1>`)
    } else {
      $('#portfolio_worth').html(`<h1 class="text-red-500 text-2xl font-medium"> Portfolio Worth: $${Math.abs(portfolio_worth).toFixed(4)} </h1>`)
  };
  $('#chartContainer').html(`<br/><br/><br/><br/><h1 class="text-black-500 font-medium">  Loading Chart... </h1>`)
  async function fetchCryptoPrices() {
    $(document).ready(function() {
      // Loop through each '.trans_table' row
      $('.trans_table').each(function() {
        var row = $(this);
        var coinName = row.find('td:first').text().toLowerCase();
        var numberOfCoins = row.data('coins');
        numberOfCoins = parseFloat(numberOfCoins);
        var price_purchased_at = row.data('price_purchased_at')

        $.ajax({
          url: 'https://api.coingecko.com/api/v3/simple/price',
          method: 'GET',
          cache: false,
          headers: {
            'Content-Type': 'application/json'
          },
          data: {
            'ids': coinName,
            'vs_currencies': 'USD',
          },
          success: function(response) {
            var data = response[coinName]['usd'];
            var current_value = data * numberOfCoins;
            var change_in_value = row.data('current_value') - current_value;
            portfolio_worth = portfolio_worth + change_in_value;
            //console.log(change_in_value);
            current_value = current_value.toFixed(2);
            row.find('.current_value').text(current_value); // Update the current value within the row
            var equity = ((data - price_purchased_at) / price_purchased_at) * 100;
            //row.find('#equity').text(equity);
            if (equity >= 0 ) {
              row.find('#equity').html(`<td class="text-green-500"> + ${Math.abs(equity).toFixed(4)}% </td>`)
            } else {
              row.find('#equity').html(`<td class="text-red-500"> - ${Math.abs(equity).toFixed(4)}% </td>`)
            };

            if (portfolio_worth >= total_amount_spent ) {
              $('#portfolio_worth').html(`<h1 class="text-green-500 text-2xl font-medium">  Portfolio Worth: $${Math.abs(portfolio_worth).toFixed(4)} </h1>`)
            } else {
              $('#portfolio_worth').html(`<h1 class="text-red-500 text-2xl font-medium"> Portfolio Worth: $${Math.abs(portfolio_worth).toFixed(4)} </h1>`)
            };
            //$('#portfolio_worth').text(portfolio_worth);
            var value = { x: new Date(), y: portfolio_worth };
            myList.push(value);
            //console.log(myList);
            //console.log(value);
            var options = {
              animationEnabled: true,  
              title:{
                text: "Portfolio Chart"
              },
              axisX: {
                valueFormatString: "hh:mm tt" // Format for time
              },
              axisY: {
                title: "Portfolio Amount (in USD)",
                prefix: "$"
              },
              data: [{
                yValueFormatString: "$#,###",
                xValueFormatString: "hh:mm tt", // Format for time
                type: "spline",
                dataPoints: myList
              }]
            };
          $("#chartContainer").CanvasJSChart(options);
          },
          error: function(xhr, status, error) {
            // Handle errors
          }
        });
      });
    });
    }
    setInterval(fetchCryptoPrices, 20000);
</script>
<br/>
<br/>
<br/>
{% endblock %}
