{% extends "base.html" %}

{% block title %}Transactions{% endblock %}

{% block content %}      
<div class="container mx-auto">
  <div class="flex justify-between">
    <form id="form" action="/{{ user_id }}/transactions/add_transaction" method="POST"
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-1/2">
      
      <!-- Form fields for adding transaction -->
      <form id="form" action="/{{ user_id }}/transactions/add_transaction" method="POST"
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <h3 class="text-2xl text-primary-700 font-bold text-center mb-6">Add Transaction</h3>
        <div class="mb-4">
          <label for="coin_name" class="block text-primary-700 text-sm font-bold mb-2">Name of Coin</label>
          <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-primary-700 leading-tight focus:outline-none focus:shadow-outline"
            id="coin_bought" name="coin_name" placeholder="Enter name of coin">
        </div>
        <div class="mb-6">
          <label for="no_of_coins" class="block text-primary-700 text-sm font-bold mb-2">Number of coins bought</label>
          <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-primary-700 leading-tight focus:outline-none focus:shadow-outline"
            id="no_of_coins_bought" name="no_of_coins" placeholder="Enter number of coins bought">
        </div>
        <div class="mb-6">
          <label for="price_purchased_at" class="block text-primary-700 text-sm font-bold mb-2">Price Bought</label>
          <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-primary-700 leading-tight focus:outline-none focus:shadow-outline"
            id="price_purchased_at" name="price_purchased_at" placeholder="Enter the unit price(in USD)">
        </div>
        <div class="flex items-center justify-between">
          <button id="sub" type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Add
          </button>
        </div>
      </form>
    </form>

    <form id="form2" action="/{{ user_id }}/transactions/remove_transaction" method="POST"
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-1/2">
      <!-- Form fields for removing transaction -->
      <form id="form2" action="/{{ user_id }}/transactions/remove_transaction" method="POST"
      class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <h3 class="text-2xl font-bold text-center mb-6">Remove Transaction</h3>
      <div class="mb-4">
        <label for="coin_name" class="block text-primary-700 text-sm font-bold mb-2">Name of Coin</label>
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-primary-700 leading-tight focus:outline-none focus:shadow-outline"
          id="coin_name_sold" name="coin_name" placeholder="Enter name of coin">
      </div>
      <div class="mb-6">
        <label for="no_of_coins" class="block text-primary-700 text-sm font-bold mb-2">Number of coins sold</label>
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-primary-700 leading-tight focus:outline-none focus:shadow-outline"
          id="no_of_coins_sold" name="no_of_coins" placeholder="Enter the number of coins sold">
      </div>
      <div class="mb-6">
        <label for="price_sold" class="block text-primary-700 text-sm font-bold mb-2">Price sold</label>
        <input type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-primary-700 leading-tight focus:outline-none focus:shadow-outline"
          id="price_sold" name="price_sold" placeholder="Enter the price you sold each unit">
      </div>
      <div class="flex items-center justify-between">
      <button id="sub2" type="submit"
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
        Remove
    </button>
  </div>
</form>
    </form>
  </div>
<h1 class="text-2xl font-bold text-center text-white mb-4">Transactions List</h1>
<table class="table-auto w-full bg-white">
  <thead>
    <tr class="bg-primary-800 font-medium text-white">
      <th class="py-2 px-4">Name</th>
      <th class="py-2 px-4">Symbol</th>
      <th class="py-2 px-4">Price Purchased at</th>
      <th class="py-2 px-4">Cost Basis</th>
      <th class="py-2 px-4">Number of Coins</th>
      <th class="py-2 px-4">Time Transacted</th>
      <th class="py-2 px-4">Time Updated</th>
      <th class="py-2 px-4">Current value</th>
      <th class="py-2 px-4">Equity</th>
    </tr>
  </thead>
  <tbody>
  {% for trans in trans_list %}
    <tr class="trans_table" data-coins="{{ trans.no_of_coins }}">
      <td>{{ trans.coin_name }}</td>
      <td>{{ trans.symbol }}</td>
      <td>${{ trans.price_purchased_at }}</td>
      <td>${{ "{:,.2f}".format(trans.amount_spent) }}</td>
      <td>{{ trans.no_of_coins }}</td>
      <td>{{ trans.time_transacted.strftime("%Y-%m-%d %H:%M:%S") }}</td>
      <td>{{ trans.time_updated.strftime("%Y-%m-%d %H:%M:%S") }}</td>
      <td class="current_value">${{ "{:,.2f}".format(trans.current_value) }}</td>
      <td {% if trans.equity|int >= 0 %}class="text-green-500"{% else %}class="text-red-500"{% endif %}>
      {% if trans.equity|int >= 0 %}+{% else %}-{% endif %}
      {{ "{:,.2f}".format(trans.equity) }}%
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>    
</div>

<script>
  const trans_length = {{length}}
  async function fetchCryptoPrices() {
    $(document).ready(function() {
      // Loop through each '.trans_table' row
      $('.trans_table').each(function() {
        var row = $(this);
        var coinName = row.find('td:first').text().toLowerCase();
        var numberOfCoins = row.data('coins');
        numberOfCoins = parseFloat(numberOfCoins);

        $.ajax({
          url: 'https://api.coingecko.com/api/v3/simple/price',
          method: 'GET',
          cache: false,
          headers: {
            'Content-Type': 'application/json'
          },
          data: {
            'ids': coinName,
            'vs_currencies': 'USD',
          },
          success: function(response) {
            var data = response[coinName]['usd'];
            data = data * numberOfCoins;
            data = data.toFixed(2);
            row.find('.current_value').text(data); // Update the current value within the row
          },
          error: function(xhr, status, error) {
            // Handle errors
          }
        });
      });
    });
    }
    setInterval(fetchCryptoPrices, 20000);
</script>
<br/>
<br/>
<br/>
{% endblock %}
